*{
    background: skyblue;
}
nav {
	float: right;
	padding:25px 0px;
}
nav a {
	color: black;
	text-decoration: none;
	font-size:18px;
	padding:2px 10px;
	font-weight:500;
}
.heading {
    font-size: 28px;
    font-weight: 500;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    color: black;
  }
  